
#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

inputs {
  display: flexbox;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2px 2px 20px 2px,;
  gap: 5px;
};

buttons{
  display: flex;
  justify-content:end;
  gap: 15px;
  margin: 30px 10px;
};